input {
    outline: none;
    border: none;
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-gray-400);
    padding-block: .4rem .3rem;
    color: var(--color-light);
    border-radius: 5px;
    padding-left: 5px;
}