h1 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bolder);
}

h2 {
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
}

p {
    font-size: var(--fs-sm);
    font-weight: var(--fw-light);
}

button {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}